/* Main section *Start* */

.main-section {
    padding: 52.5px 0;

    background-image: url(../img/main-section__bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.main-section>.container {
    margin: 0 40px;
}

.main-section__wrapper {
    max-width: 431px;
}

.text-h1 {
    color: var(--aswearhelp-tilda-ws-1920-x-1080-default-black, #000);
    font-family: Arial;
    font-size: 49.219px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 121.905% */
}

.main-section__discount {
    font-family: Arial;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 155px;
    background: var(--aswearhelp-tilda-ws-1920-x-1080-default-linear-fun-green-radical-red, linear-gradient(0deg, #FF6A28 0%, #FE2F57 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-section__p {
    color: var(--aswearhelp-tilda-ws-1920-x-1080-default-black, #000);
    font-family: Arial;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 154.545% */
}

.primary-btn {
    padding: 8px 60px;

    min-width: none;
    width: fit-content;
    display: block;

    color: var(--aswearhelp-tilda-ws-1920-x-1080-default-nero, #FFF);
    text-align: center;

    /* aswearhelp_tilda_ws__1920x1080_default/Arial/Bold 23.87 */
    font-family: Arial;
    font-size: 23.867px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.3px;
    /* 168.851% */

    text-decoration: none;


    border: none;
    border-radius: 5px;
    background: var(--aswearhelp-tilda-ws-1920-x-1080-default-linear-fun-green-radical-red, linear-gradient(0deg, #FF6A28 0%, #FE2F57 100%));

    cursor: pointer;
}

.grid-wrapper {
    width: fit-content;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pros-item {
    padding: 9px 0;
    min-width: 180px;

    border-radius: 40px;
    background: var(--aswearhelp-tilda-ws-1920-x-1080-default-black-haze, #F1F2F2);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--aswearhelp-tilda-ws-1024-x-1820-default-black, #000);
    text-align: center;

    /* aswearhelp_tilda_ws__1024x1820_default/Arial/Narrow 15 */
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.25px;
    /* 155% */
}

.main-section__pros:not(:last-child) {
    margin-right: 17px;
}

.main-section .main-section__p {
    margin-bottom: 18px;
}

.main-section .primary-btn {
    margin-bottom: 27px;
}

/* Main section *Stop* */

/* Assortment Section *Start* */

.assortment-section {
    padding: 135px 0;

    background: var(--aswearhelp-tilda-ws-1920-x-1080-default-gallery, #EFEFEF);
}

.assortment-section>.container {
    margin: 0 30px;
}

.section-h2 {
    color: var(--aswearhelp-tilda-ws-1920-x-1080-default-black, #000);
    text-align: center;

    /* aswearhelp_tilda_ws__1920x1080_default/Arial/Bold 42 */
    font-family: Arial;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 51.66px;
    /* 123% */
}

.assortment-section__p {
    margin-bottom: 91px;

    color: var(--aswearhelp-tilda-ws-1920-x-1080-default-black, #000);
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 150% */
}

.carousel {
    display: grid;
    grid-template-columns: 40px 1fr 40px;

    align-items: center;
}

.carousel__prev-btn,
.carousel__next-btn {
    width: 40px;
    height: 40px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: var(--aswearhelp-tilda-ws-1920-x-1080-default-coral-red, #FE3A4E);

    cursor: pointer;
    user-select: none;

    transition: opacity linear .2s;
}
.carousel__prev-btn:hover,
.carousel__next-btn:hover {
    opacity: .8;
}
.carousel__prev-btn>img {
    transform: rotate(180deg);
}

.carousel__content {
    padding: 10px;
    margin: 0 auto;
    max-width: calc(70% - 90px);

    overflow-x: hidden;
    overflow-y: visible;
}
.carousel__content > * {
    transition: transform ease-in-out .2s;
}

.assortment-list {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.assortment-list__item {
    flex: 0 0 260px;

    background: var(--aswearhelp-tilda-ws-1920-x-1080-default-nero, #FFF);
    border-radius: 8px;
    overflow: hidden;

    transition: .2s linear;
}

.assortment-list__item:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.assortment-list__item:not(:last-child) {
    margin-right: 40px;
}

.assortment-list__preview {
    width: 100%;
}

.assortment-list__description {
    padding: 18px 0;
    margin: 0 20px;
}

.assortment-list__hint {
    margin-bottom: 8px;
    color: var(--aswearhelp-tilda-ws-1920-x-1080-default-deep-sea, #FF8562);

    /* aswearhelp_tilda_ws__1920x1080_default/Arial/Bold 12 */
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
}

.assortment-list__title {
    margin-bottom: 17px;
    color: var(--aswearhelp-tilda-ws-1920-x-1080-default-black, #000);

    /* aswearhelp_tilda_ws__1920x1080_default/Arial/Bold 16 */
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
    /* 135% */
}

.assortment-list__price {
    margin-bottom: 8px;
    padding: 11px 0;

    width: 100px;

    color: var(--aswearhelp-tilda-ws-1920-x-1080-default-nero, #FFF);
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    /* 100% */

    border-radius: 5px;
    background: var(--aswearhelp-tilda-ws-1920-x-1080-default-linear-fun-green-radical-red, linear-gradient(0deg, #FF6A28 0%, #FE2F57 100%));
}

.assortment-list__link-btn {
    display: block;

    padding: 11px 0;
    width: 150px;

    color: var(--aswearhelp-tilda-ws-1920-x-1080-default-black, #000);
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    text-decoration: none;
    /* 100% */

    border-radius: 5px;
    border: 1px solid var(--aswearhelp-tilda-ws-1920-x-1080-default-black, #000);
}

/* Assortment Section *Stop* */

/* Application Section *Start* */

.application-section {}

.application-section>.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.application-section__description {
    padding: 20px;

    background: var(--aswearhelp-tilda-ws-1024-x-1820-default-linear-fun-green-radical-red, linear-gradient(0deg, #FF6A28 0%, #FE2F57 100%));
}

.application-section .section-h2 {
    text-align: left;
}

.application-section__h2 {
    color: var(--aswearhelp-tilda-ws-1024-x-1820-default-nero, #FFF);
}

.application-section__count {
    font-family: Arial;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 155px;
    /* 155% */

    background: var(--aswearhelp-tilda-ws-1024-x-1820-default-linear-big-stone-astronaut, linear-gradient(0deg, #141E30 0%, #28416F 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.application-section__p {
    color: var(--aswearhelp-tilda-ws-1024-x-1820-default-nero, #FFF);
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
}

.grid-wrapper {}

.application-section__link-btn {}

.application-section__preview {
    width: 100%;
    overflow: hidden;

    max-height: 700px;
}

/* Application Section *Stop* */

/* Brands Section *Start* */

.brands-section {
    padding: 50px 0;
    background-color: #ededed;
}
.brands-section > .container {
    margin: 0 350px;
}

.brands-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.brands-list__item {
    padding: 20px;
    flex: 0 0 13%;
}
.brands-list__item>img {
    width: 100%;
}

/* Brands Section *Stop* */

/* Promocode section *Start* */

.promocode-section {
    padding: 105px 0;
}

.promocode-form {
    position: relative;

    margin: 0 auto;
    padding: 57px 0 82px 0;
    width: fit-content;

    background-image: -webkit-linear-gradient(top, rgba(7,11,49, 0.40), rgba(7,11,49, 0.40)), url(../img/promocode-bg.jpeg);
    background-position: center center;

    z-index: 2;
}
.promocode-form>.container {
    margin: 0 77px;
}

.promocode-form__h2 {
    margin-bottom: 16px;
    color: var(--aswearhelp-tilda-ws-1024-x-1820-default-nero, #FFF);
    text-align: center;

    /* aswearhelp_tilda_ws__1024x1820_default/Arial/Bold 31.63 */
    font-family: Arial;
    font-size: 31.625px;
    font-style: normal;
    font-weight: 700;
    line-height: 39.36px;
    /* 124.458% */
}

.promocode-form__p {
    margin-bottom: 30px;
    color: var(--aswearhelp-tilda-ws-1024-x-1820-default-nero, #FFF);
    text-align: center;

    /* aswearhelp_tilda_ws__1024x1820_default/Arial/Narrow 14 */
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.7px;
    /* 155% */
}

.promocode-form__wrapper {

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 15px;
}

.input {
    padding: 20px;

    border: none;
    border-radius: 4px;
    background: var(--aswearhelp-tilda-ws-1024-x-1820-default-nero, #FFF);
    outline: none;
}

/* Promocode section *Stop* */

/* Question section *Start* */

.question-section {
    padding: 105px 0;
}

.question-section>.container {
    width: fit-content;
    margin: 0 auto;
}

.section-h2 {}

.question-section__p {
    color: #000000;
    font-size: 24px;
    font-family: 'Arial', Arial, sans-serif;
    line-height: 37px;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.question-section__wrapper {
    display: flex;
    align-items: flex-end;
}

.question-section__wrapper>img {
    width: 50px;
}

.primary-btn {}

/* Question section *Stop* */

/* Delivery section *Start* */

.delivery-section {
    padding: 150px 0;
}
.delivery-section > .container {
    margin: 0 350px;
}
.section-h3 {
    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.delivery-section .section-h2 {
    text-align: left;
}
.delivery-section__p {
    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 26px;
    line-height: 1.45;
    font-weight: 300;
    color: #000000;
}
strong {
    font-weight: 700;
}
.delivery-times:not(:first-child) {
    margin-top: 150px;
}
.delivery-times {
    display: flex;
    flex-direction: column;
}
.delivery-times__item {
    display: flex;
}
.delivery-times__date {
    min-width: 100px;

    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 600;
    text-align: right;
    white-space: nowrap;
    color: #000000;
}
.delivery-times__line-wrapper {
    margin: 0 20px;

    width: 16px;
    position: relative;
}
.delivery-times__dot {
    width: 12px;
    height: 12px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;

    z-index: 2;
}
.delivery-times__dot.red {
    background-color: #ff0000;
    border: 2px solid #ff0000;
}
.delivery-times__line {
    width: 2px;
    position: absolute;
    top: 0;
    left: 7px;
    right: 0;
    bottom: 0;
    background: #d4d4d4;

    z-index: -1;
}
.delivery-times__wrapper {
    padding-bottom: 90px;
}
.delivery-times__h2 {
    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 26px;
    line-height: 1.23;
    font-weight: 600;
    color: #000000;
}
.delivery-times__h2 + .delivery-times__p {
    margin-top: 30px;
}
.delivery-times__p {
    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    color: #000000;
}

/* Delivery section *Stop* */

/* Delivery cost *Start* */

.delivery-cost {
    padding: 150px 0;
}
.delivery-cost > .container {
    margin: 0 350px;
}
.delivery-cost__header {
    width: fit-content;
    margin: 0 auto;
}
.delivery-cost .section-h3 + .section-h2 {
    margin-top: 50px;
}
.delivery-cost .delivery-cards {
    margin-top: 150px;
}
.delivery-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.delivery-cards__item {
}
.delivery-cards__preview {
    width: 100%;

    height: 100%;
    max-height: 369px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
.delivery-cards__preview > img {
    height: 100%;
}
.delivery-cards__h3 {
    text-align: center;

    font-size: 36px;
    line-height: 1.23;
    font-family: 'GraphikTT',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
}
.delivery-cards__p {
    text-align: center;

    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    color: #000000;
}

/* Delivery cost *Stop* */

/* Not original section *Start* */

.not-original {
    margin: 0 50px;
    height: 700px;

    background-image: url(../img/asos_DESIGN___Facebo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;

    border-radius: 20px;
}

.not-original > .container {
    margin: 0 auto;

    max-width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.not-original .section-h2 {
    color: #fff;
}
.not-original__p {
    padding: 40px 0 54px;

    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 22px;
    line-height: 1.55;
    font-weight: 300;
    color: #fff;
    text-align: center;
}
.not-original .primary-btn {
    margin: 0 auto;

    border-radius: 50px;
}


/* Not original section *Stop* */

/* Paragraph Section *Start* */

.paragraph-section {
    padding: 150px 0;
}
.paragraph-section > .container {
    margin: 0 350px;
}
.paragraph-section .section-h2 {
    margin-top: 50px;
    text-align: left;
}
.paragraph-section__p {
    padding: 41px 0 0 0;

    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 26px;
    line-height: 1.45;
    font-weight: 300;
    color: #000000;
}
.paragraph-section__p a {
    color: #ff8562;
    text-decoration: none;
}

/* Paragraph Section *Stop* */

/* Guarantee section *Start* */

.guarantee-section {
    padding: 150px 0;
}
.guarantee-section > .container {
    margin: 0 350px;
}
.section-h3 {
}
.guarantee-section .section-h2 {
    text-align: left;
}
.guarantee-section__p {
    padding-top: 21px;

    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    color: #000000;
}

/* Guarantee section *Stop* */

/* Adv section *Start* */

.adv-catalogue {
    background-color: #ededed;
}
.adv-catalogue > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.adv-catalogue__preview > img {
    width: 100%;
}
.adv-catalogue__wrapper {
}
.adv-catalogue__h2 {
    color: #fe3850;
    font-size: 35px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    transform-origin: center center;
    line-height: 42px;
}
.adv-catalogue__p {
    color: #000000;
    font-size: 22px;
    font-family: 'TildaSans',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    transform-origin: center center;
    line-height: 34px;
}
.adv-catalogue__h2 + .adv-catalogue__p { 
    margin-top: 20px;
}
.adv-catalogue__p + .primary-btn {
    margin-top: 50px;
}

/* Adv section *Stop* */

/* Variants delivery *Start* */

.variants-delivery {
    padding: 100px 0;
}
.variants-delivery > .container {
    margin: 0 30px;
}
.variants-delivery__wrapper {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    gap: 50px;
}
.variants-delivery .section-h2 {
    text-align: left;
}
.delivery-banner {
    width: auto;
    padding: 40px 70px;
    background-color: #dfdfdf;
    border-radius: 20px;
}
.delivery-banner__h2 {
    color: #000000;
    font-size: 35px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    transform-origin: center center;
    line-height: 42px;
}
.delivery-banner__p {
    color: #000000;
    font-size: 22px;
    font-family: 'TildaSans',Arial,sans-serif;
    line-height: 1.15;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    transform-origin: center center;
    line-height: 25px;
}
.variants-delivery .primary-btn {
    margin-top: 30px;
    padding: 25px 0;

    width: 100%;
    border-radius: 25px;
}
.variants-delivery__video {
    width: 100%;
    max-width: 285px;
    height: auto;
    max-height: 518px;
}

/* Variants delivery *Stop* */



/* Pros section *Start* */
.pros-section {
    padding: 100px 0;

    background-color: #eaeaea;
}
.pros-section > .container {
    margin: 0 30px;
}
.pros-list {
    display: flex;
    flex-direction: row;

    overflow-x: auto;
}
.pros-list__item {
    padding: 100px 20px;
    height: fit-content;
    min-width: 70vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    border-radius: 10px;
    background-image: linear-gradient(0turn,rgba(255,106,40,1) 0%,rgba(254,47,87,1) 100%);
    border-color: transparent;
    border-style: solid;
}
.pros-list__item:not(:last-child) {
    margin-right: 50px;
}
.pros-list__label {
    margin-bottom: 40px;

    color: #ffffff;
    font-size: 25px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-radius: 10px;
    background-color: #242424;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transform-origin: center center;
    text-align: center;
}
.pros-list__h4 {
    margin-bottom: 10px;

    color: #ffffff;
    font-size: 24px;
    font-family: 'TildaSans',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transform-origin: center center;
    line-height: 23px;
}
.pros-list__h2 {
    margin-bottom: 50px;

    color: #052555;
    font-size: 60px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transform-origin: center center;
}
.pros-list__h3 {
    color: #ffffff;
    font-size: 34px;
    font-family: 'TildaSans',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transform-origin: center center;
}
.pros-list__preview {
    width: 100%;
    height: 100%;

    border-radius: 10px;
    overflow: hidden;
}
.pros-list__preview > img {
    width: auto;
    height: 100%;
}

/* Pros section *Stop* */

/* Bought section *Start* */

.bought-section {
    padding: 100px 0;
}
.bought-section > .container {
    margin: 0 500px;
}
.bought-section__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bought-section .section-h2 {
    margin-bottom: 24px;
    text-align: left;
}
.section-h3 {
}
.bought-section__p {
    font-family: 'GraphikTT',Arial,sans-serif;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    color: #000000;
}

/* Bought section *Stop* */

/* telegram section *Start* */

.telegram-section {
    padding: 100px 0;
}
.telegram-section .primary-btn {
    padding: 10px 20px;
    margin: 0 auto;

    color: #ffffff;
    font-size: 16px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.telegram-section .primary-btn > img {
    margin-right: 10px;
    width: 32px;
}

/* telegram section *Stop* */

/* Sale section *Start* */

.sale-section {
    background-image: url(../img/main-section__bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.sale-section > .container {
    margin: 0 30px;

    max-width: 500px;
}
.sale-section .section-h2 {
    display: block;

    font-size: 75px;
    text-align: left;
    line-height: normal;

    background-image: url(../img/sneakers.png);
    background-size: auto 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.sale-section__percent {
    color: transparent;
    background-image: linear-gradient(0turn,rgba(255,106,40,1) 0%,rgba(254,47,87,1) 100%);
    -webkit-background-clip: text;
    will-change: transform;
    font-size: 100px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.sale-section__p {
    margin-bottom: 30px;

    font-size: 22px;
    font-family: 'TildaSans',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transform-origin: center center;
    line-height: 34px;
}
.primary-btn {
}
.sale-section__wrapper {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
}
.sale-section .pros-item {
    padding: 10px 20px;
    min-width: auto;
}
.sale-section .pros-item:not(:last-child) {
    margin-right: 15px;
    margin-bottom: 10px;
}


/* Sale section *Stop* */